USE [master]
GO
/****** Object:  Database [HRMS]    Script Date: 5/12/2022 2:29:53 PM ******/
CREATE DATABASE [HRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRMS]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[Department_ID] [int] NULL,
	[Date] [date] NULL,
	[Time_attend] [time](7) NULL,
	[Time_Leave] [time](7) NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Balance]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_balanc] [nvarchar](50) NULL,
	[available] [float] NULL,
	[emp_id] [int] NULL,
 CONSTRAINT [pk_id_balance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deductions]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deductions](
	[ID] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[date_deduction] [date] NULL,
	[type_deduction] [nvarchar](max) NULL,
	[emp_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_id_Dis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[namee] [nvarchar](50) NULL,
 CONSTRAINT [pk_id_Dep] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NULL,
	[gender] [varchar](20) NULL,
	[Birth_day] [date] NULL,
	[addres] [varchar](70) NULL,
	[Email] [varchar](70) NULL,
	[degree] [float] NULL,
	[Typee] [varchar](50) NULL,
	[Specialization] [varchar](70) NULL,
	[Graduation_year] [int] NULL,
	[role_id] [int] NULL,
	[desegnation] [nvarchar](50) NULL,
	[date_of_join] [date] NULL,
	[social_status] [varchar](50) NULL,
	[qualification] [varchar](80) NULL,
	[phone_num] [int] NULL,
	[id_number] [int] NULL,
	[employees_name] [nvarchar](70) NULL,
	[governrate] [nvarchar](70) NULL,
	[employee_age] [int] NULL,
 CONSTRAINT [pk_id_emp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[frome] [time](7) NULL,
	[too] [time](7) NULL,
	[Date_leave] [date] NULL,
	[Employe_id] [int] NULL,
	[leavtype_id] [int] NOT NULL,
 CONSTRAINT [pk_id_leave] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave_type]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_lt] [nvarchar](60) NULL,
 CONSTRAINT [pk_id_lt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[type_] [bit] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rest_day]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rest_day](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_resd] [nvarchar](50) NULL,
	[Available_Number] [int] NULL,
	[EMP_ID] [int] NULL,
 CONSTRAINT [pk_id_rd] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rewards]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rewards](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date_rewords] [nvarchar](30) NULL,
	[reason] [text] NULL,
	[emp_id] [int] NULL,
	[rewards_type] [int] NULL,
	[amount] [float] NULL,
 CONSTRAINT [pk_id_reword] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rewards_type_]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rewards_type_](
	[reward_id] [int] IDENTITY(1,1) NOT NULL,
	[reward_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_rewards_type_] PRIMARY KEY CLUSTERED 
(
	[reward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rolee]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rolee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_role] [nvarchar](50) NULL,
	[Attendance_of] [time](7) NULL,
	[Leave_from] [time](7) NULL,
	[base] [decimal](30, 0) NULL,
 CONSTRAINT [pk_id_role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacation]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date_from] [date] NULL,
	[Date_to] [date] NULL,
	[emp_id] [int] NULL,
	[vac_id] [int] NULL,
	[required_] [int] NULL,
	[balance] [int] NULL,
 CONSTRAINT [pk_id_v] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacation_type]    Script Date: 5/12/2022 2:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacation_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_vt] [nvarchar](60) NULL,
 CONSTRAINT [pk_id_vt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance]  WITH NOCHECK ADD  CONSTRAINT [FK_Attendance_Department] FOREIGN KEY([Department_ID])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Department]
GO
ALTER TABLE [dbo].[Attendance]  WITH NOCHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
ALTER TABLE [dbo].[Balance]  WITH CHECK ADD  CONSTRAINT [fk_empid] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Balance] CHECK CONSTRAINT [fk_empid]
GO
ALTER TABLE [dbo].[Deductions]  WITH CHECK ADD  CONSTRAINT [fk_empl] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Deductions] CHECK CONSTRAINT [fk_empl]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [fk_id] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_id]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [fk_Rol] FOREIGN KEY([role_id])
REFERENCES [dbo].[Rolee] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_Rol]
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD  CONSTRAINT [fk_employ] FOREIGN KEY([Employe_id])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Leave] CHECK CONSTRAINT [fk_employ]
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD  CONSTRAINT [fk_leavtyp] FOREIGN KEY([leavtype_id])
REFERENCES [dbo].[Leave_type] ([ID])
GO
ALTER TABLE [dbo].[Leave] CHECK CONSTRAINT [fk_leavtyp]
GO
ALTER TABLE [dbo].[rest_day]  WITH CHECK ADD  CONSTRAINT [fk_emplye] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[rest_day] CHECK CONSTRAINT [fk_emplye]
GO
ALTER TABLE [dbo].[rewards]  WITH CHECK ADD  CONSTRAINT [fk_emp_I] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[rewards] CHECK CONSTRAINT [fk_emp_I]
GO
ALTER TABLE [dbo].[rewards]  WITH CHECK ADD  CONSTRAINT [rewards_rewards_type_id] FOREIGN KEY([rewards_type])
REFERENCES [dbo].[rewards_type_] ([reward_id])
GO
ALTER TABLE [dbo].[rewards] CHECK CONSTRAINT [rewards_rewards_type_id]
GO
ALTER TABLE [dbo].[vacation]  WITH CHECK ADD  CONSTRAINT [fk_emp_id] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[vacation] CHECK CONSTRAINT [fk_emp_id]
GO
ALTER TABLE [dbo].[vacation]  WITH CHECK ADD  CONSTRAINT [fk_vac_typ] FOREIGN KEY([vac_id])
REFERENCES [dbo].[vacation_type] ([ID])
GO
ALTER TABLE [dbo].[vacation] CHECK CONSTRAINT [fk_vac_typ]
GO
USE [master]
GO
